<div class="container">
  <h1>Ingredients:</h1>
    <%= simple_form_for [@coctail, @other_ingredient] do |f| %>
      <%= f.input :name, input_html: {class: '.form-control'}  %>
      <%= f.submit 'Add ingredient' %>
    <% end %>
</div>