<div class="container">
  <%= simple_form_for @ingredient do |f| %>
    <h3><%= @ingredient.ingredient_kind.name.capitalize %>:</h3>
    <%= f.input :quantity %>
    <%= f.submit %>
  <% end %>
</div>
