// Place all the styles related to the alcoholes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alcohol_img {
  max-height: 300px;
  max-width: 300px;
}

.hidden {
  display: none;
}