// Place all the styles related to the coctails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coctail_img {
  max-width: 300px;
  max-height: 300px;
}

.btn-success {
  border: 1px solid darkgreen;
}

.btn-danger {
  border: 1px solid darkred;
}